<div class="modal"  >
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Comment on {{this.title}}</p>
    </header>
    <section class="modal-card-body">
      <div class="field-body">
        <div class="field">
          <div class="control">
            <textarea class="textarea" placeholder="Comment here"></textarea>
          </div>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
       <div class="field is-grouped is-grouped-centered">
        <p class="control">
          <a class="button is-primary" value="{{this._id}}">Submit</a>
        </p>
        <p class="control">
          <a class="button is-light close-modal">Cancel</a>
        </p>
      </div>
    </footer>
  </div>
</div>