<!DOCTYPE html>
<html>
<head>
	<title>blah</title>
    <link rel="stylesheet" type="text/css" href="/public/bulma/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="/public/bulma/css/aside.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
   	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/public/js/main.js"></script>
</head>
<body>
<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Mongoose Scraper
      </h1>
      <h2 class="subtitle">
        insert random pointless subtitle 
      </h2>
    </div>
  </div>
</section>
	{{{body}}}
</body>
</html>