<!DOCTYPE html>
<html>
<head>
	<title>blah</title>
    <link rel="stylesheet" type="text/css" href="/public/bulma/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="/public/bulma/css/aside.css">
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
</head>
<body>
	{{{body}}}
</body>
</html>